/*HOJA DE ESTILOS*/
/*Colores generales
Gris fuerte: #313332
Amarillo: #E6B707
Semi blanco nav: #F8F9FB
Gris secc 3: #F1F3EE*/

/*Generales*/
h2{
    font-weight: 700;
    font-size: 34px;
}
a{
    text-decoration: none;
}

/*Nav bar*/
.navbar{
    background-color: #F8F9FB;
}
.active{
    background-color: #E6B707;
    color: #F8F9FB !important;
}
a.nav-link{
    padding: 36px 25px !important;
    border-left: 1px solid #dddddd;
    font-weight: 500;
}
a.nav-link:hover{
    background-color: #313332;
    color: #F8F9FB !important;
}
.last-border{
    border-right: 1px solid #dddddd;
}

/*Header*/


/*Section Create*/
.create{
    background-color: #E6B707;
    background-image: url(../imagenes/separador1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    color: white;
}

/*Section Features*/
.features{
    padding: 60px 14% 160px 14%;
    background-image: url(../imagenes/separador2.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.features img{
    width: 140px;
    margin: 20px;
}
.features p{
    color: #a9a9a9;
}

/*Section Work*/
.work{
    background-color: #F1F3EE;
    padding: 60px 14% 100px 14%;
    background-image: url(../imagenes/separador3.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

/*Section Last-story*/
.last-story{
    padding: 60px 14% 160px 14%;
    background-image: url(../imagenes/separador4.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.last-story p{
    margin: 0;
}
.last-story img{
    width: 100%;
}
.linea-amarilla{
    background-color: #E6B707;
}
.story-text{
    color: white;
    font-weight: 400;
}

/*Section Gráficas*/
.graficas{
    padding: 60px 14% 60px 14%;
    background-color: #E6B707;
}
.graficas img{
    width: 140px;
}
.graficas p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-top: 13px;
}

/*Footer*/
footer{
    padding: 30px 14% 50px 14%;
    background-color: #313332;
    color: white;
}
footer p{
    font-size: 14px;
    display: inline-block;
}
footer h3{
    padding-bottom: 12px;
}
footer img{
    width: 20px;
}
footer a{
    color: white;
}
footer .bi-chevron-right{
    color: #E6B707;
    font-size: 12px;
    vertical-align: middle;
    padding-right: 20px;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
.getin p{
    padding-left: 10px;
    margin-bottom: 0;
}
.getin i{
    color: #E6B707;
    font-size: 20px;
}
.phone{
    transform: rotate(45deg) !important;
}
.getin .row{
    margin-bottom: 8px;
}

/*FancyBox*/
.fancybox__caption{
    font-size: 22px;
    font-weight: 800;
}